<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/partials/page-error.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap">
    <link rel="shortcut icon" href="/images/favicon.png">    
</head>
<body id="page-error">
    <div id="container">
        <div class="warning-container">
            <p>Opa! Parece que essa página não existe</p>
        </div>
        <div class="warning-image-container">
            <img class="hero-image" src="/images/landing.svg" alt="Plataforma de Estudos">
        </div>
        <div class="button-container">
            <a class="landing-page" href="/">Voltar ao início</a>
        </div>
    </div>
</body>
</html>